<!DOCTYPE html>
<html>
<head>
  <title>POCKET NOTE</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
</head>
<body id="listsPage" class="clearfix">
  <ul>
    <li><a href="/weathercomments/new">New</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
  <h1>Your Lists</h1>

  {{#allWeatherComment}}
  <div class="lists-container">
    <h2>Date: {{commentDay}}</h2>
    <h4>It was: {{weather}}</h4>
    <p>You were in: {{zip}}</p>
    <p>Note: {{comment}}</p>
  </div>
  {{/allWeatherComment}}

  <footer>
    <p>Made width <span>&hearts;</span> by <a href="http://yerimhu.bitballoon.com/">Yerim Hu</a></p>
    <p><a href="https://generalassemb.ly/">GA</a> WDI Project 2018</p>
  </footer>
</body>
</html>