<!DOCTYPE html>
<html>
<head>
  <title>POCKET NOTE</title>

</head>
<body>
  <h1>WELCOME</h1>

  <h3>Today is <span>{{date}}</span></h3>

  <!-- Weather -->  

  <form action="/users" method="POST">
        <label for="email">Email</label><br>
        <input id="email" type="text" name="user[email]" placeholder="john.doe@example.com"><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
        <input type="submit" value="Login">
  </form>

  <a href="./new">Sign Up</a>
</body>
</html>
